# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
*.cmake
CMakeCache.txt
Makefile

# Qt Creator
*.user

# Build dirs
build/
build-msvc/
release/
release-cuda/
dist-test/

# Test files
l.txt
w.txt
r.txt
r*.txt
*.txt

